<% if(locals.short_url != null) { %>

<div class="shortURLContainer">
  <div class="shortURLBox">
    <div class="shortURLPosition">
      <input type="text" class="shortURL" value = <%= short_url %> >
      <span class="copyBtnPosition">
        <button class="btn copyBtn" onclick="copyURL()">
          Copy
        </button>
      </span>
    </div>
  </div>
  <br />
  <span class="copyMsg">Copied!</span>
</div>
<% } %>

<script>
  const copyURL = () => {
    var copyText = document.querySelector(".shortURL");
    copyText.select();
    copyText.setSelectionRange(0, 99999);
    document.execCommand("copy");

    const copyMsg = document.querySelector(".copyMsg:not(.animate)");
    if (copyMsg) {
      copyMsg.classList.add("animate");
      copyMsg.addEventListener("animationend", () =>
        copyMsg.classList.remove("animate")
      );
    }
  };
</script>
